<footer>
    <div class="container">
        <div class="row"> <!--porque tenemos 3 columnas "horizontales"-->
            <div class="col-md-12 text-center"> <!--para que ocupen todo el ancho y se situen en el centro-->
                <div class="logo">The AI Mind</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Terms & Conditions</a></li>
                    </ul>
                </div>

                <p class="mb-2 mt-2">Copyright ©️ 2023 The AI Mind </p>


            </div>
        </div>
    </div>
</footer>