<nav class="navbar navbar-expand-lg fixed-top"> <!--que el navegador se expanda a lo largo y se fije arriba-->
    <div class="collapse navbar-collapse justify-content-center">
        <!--collapse (zona que se ocultara para las pantallas pequeñas)-->
        <div class="container">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item ml-3"><a class="nav-link" href="#">Home</a></li>
                <!-- ml-3 para la separacion entre ellos (margin left)-->
                <li class="nav-item ml-3"><a class="nav-link" href="#">Posts</a></li>
                <li class="nav-item ml-3"><a class="nav-link" href="#">Create a blog</a></li>
            </ul>
        </div>
    </div>
</nav>