<div class="card shadow-e" style="width: 18rem">
    <article class="imagen">
        <figure>
            <img class="card-img-top" [src]="postSeleccionado.imagen" alt="Card image cap">
        </figure>
        <!-- <div class="card-body"> -->
        <h2 class="card-title">{{postSeleccionado.titulo}}</h2>
        <p class="card-text">{{postSeleccionado.texto}}</p>
        <small>{{postSeleccionado.autor}} </small>
        <p>Fecha creacion: {{postSeleccionado.fecha| date: 'dd/MM/YYYY hh:mm:ss'}} </p>
        <p>{{postSeleccionado.categoria}}</p>

        <!-- <button *ngIf="botonActivo" class="btn btn-info" [routerLink]="['/readme']"></button> -->

        <a class="btn btn-primary" *ngIf="botonActivo" class="btn btn-info"
            [routerLink]="['/readme',postSeleccionado.id]">Show
            me
            more</a>

        <!-- </div> -->
    </article>

</div>


<!--
<div class="card">
    <img src="#">
    <div class="card-body">
        <small class="bg-light text-info text-center ml-3">Views: 506.125 </small>
        <h5 class="mt-1">My first blog 2023</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iure dolorem culpa? Quod et facilis
            tenetur iusto natus, consequuntur laudantium. Minus odit culpa deserunt quasi. Obcaecati animi molestiae
            consectetur dolorem!</p>
        <small class="bg-light text-warning text-center ml-3">updated on nov/23</small>
        <p>Fecha creacion: {{postSeleccionado.fecha| date: 'dd/MM/YYYY hh:mm:ss'}} </p>
        <p>{{postSeleccionado.categoria}}</p>

        <a href="#" class="btn btn-primary">Show me more</a>
    </div>
</div>
-->