<app-nav-bar></app-nav-bar>
<app-categorias-nav-bar></app-categorias-nav-bar>


<div class="body">
    <router-outlet></router-outlet>

</div>

<!-- <div class="container">
    <app-post-card
        [postSeleccionado]="{titulo: 'Hola', texto: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis est explicabo voluptatem qui aspernatur commodi porro at. Illo nihil exercitationem iure, atque qui quaerat saepe aperiam nam perferendis cum nulla', autor: 'esa persona', imagen:'https://img.freepik.com/fotos-premium/atardecer-mar-caribe_151633-149.jpg', categoria: 'nuevo'  }"></app-post-card>
</div> -->






<!--<app-lista-post></app-lista-post>-->

<!--<app-formulario></app-formulario>-->

<app-footer></app-footer>