<section class="bg-image">
    <div class="hero-image-full">
        <img [src]="">
    </div>
</section>


<section class="home">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12 text-center mt-5">
                <h2>Lo más leído</h2>
                <a [routerLink]="['/posts']">Ver todos los posts >> </a>

            </div>
        </div>
        <div class="container1 mt-5 mb-5">
            <div class="row justify-content-center mt-2 mb-2">
                <div class="col-lg-3 mb-3" *ngFor="let post of arrpost">
                    <app-post-card [postSeleccionado]="post"></app-post-card>
                </div>

            </div>
        </div>
    </div>
</section>