<div class="container">
    <div class="row mt-5">
        <div class="col-md-9 ">


            <div class="card">
                <img class="card-img-top img-fluid"
                    src="https://images.unsplash.com/photo-1698725224250-afb10355c2c4?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
                <div class="card-body">
                    <small class="bg-light text-info text-center ml-2"> Views: 500.596</small>

                    <h1 class="mt-3 mb-3">What is AI?</h1>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. A optio fuga, accusantium, beatae
                        architecto
                        ipsa excepturi reiciendis temporibus, quis labore nesciunt impedit voluptatem? Laboriosam
                        perferendis
                        eligendi architecto expedita delectus soluta.</P>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>

        </div>
    </div>

</div>




<!-- <div class="container">
    <div class="row mt-5">
        <div class="col-md-9 ">


            <div class="card" *ngIf="postSeleccionado">
                <app-post-card></app-post-card>
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div> -->