<!--
<div class="Posts">
    <app-formulario *ngFor="let post of arrpost"></app-formulario>
</div> 
-->

<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2>Latest posts</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum voluptatem culpa alias velit
                    cum, ex animi. </p>
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row mt-2 justify-content-center">
                <div class="col-md-2 mb-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-md-2 mb-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-md-2 mb-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-md-2 mb-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-md-2 mb-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-md-2 mb-3">
                    <app-post-card></app-post-card>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="container mt-5"></section>